# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Configurações do VS Code
.vscode/

# Logs
logs/*.log

# Banco de dados local
*.db

# Arquivos temporários
*.tmp

automation/calibration.json
assets/icons/vinculo_ativo.png
assets/icons/vinculo_inativo.png
assets/icons/codigo_preenchido.png
assets/icons/codigo_vazio.png
# Arquivos gerados durante testes
logs/
